:root {
  --pn-primary: #00df8d;
  --pn-secondary: #3f5af3;
  --pn-secondary-2: #0d6efd;
  --pn-tertiary: #ffdf6e;
  --pn-purple: #d197ff;
  --pn-white: #ffffff;
  --pn-black: #02050a;
  --pn-black-2: #000000;
  --pn-black-3: #111111;
  --pn-black-4: #090d26;
  --pn-black-5: #858c9a;
  --pn-paragraph: #5f6980;
  --pn-paragraph-2: #535353;
  --pn-paragraph-3: #757474;
  --pn-border: #222323;
  --pn-border-2: #fac43a;
  --pn-border-3: #e3e3e3;
  --pn-background: #fefbf3;
  --pn-background-2: rgba(63, 90, 243, 0.1);
  --pn-background-3: #02050a;
  --pn-background-4: rgba(237, 242, 247, 0.05);
  --pn-background-5: rgba(0, 0, 0, 0.05);
  --pn-background-6: #f6f2ea;
  --pn-background-7: #f3f6f8;
  --pn-linear-color: linear-gradient(
    180deg,
    rgba(0, 223, 141, 0.21) 0%,
    rgba(255, 223, 110, 0.35) 100%
  );
  --pn-shadow: 0px 16px 52px 0px rgba(0, 0, 0, 0.07);
}
